<!DOCTYPE html>
<html>
<head>
	<title> University Portal </title>
	 
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
     <script type="text/javascript">
     	// Jquery slider and carousel initialization
     	$(document).ready(function(){
    	  	$('.slider').slider({full_width: true});
    	  	$('.carousel').carousel();
    	  // Activate the side menu 
   			$(".button-collapse").sideNav();
    	});

     </script>

</head>
<body>
<span onmouseover="Hi"><button> Hello  
</button></span>
</body>
</html>